site_name: LittleBakery Docs


theme:
  name: material
  palette:
    - scheme: default
      primary: brown
      accent: grey
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: brown
      accent: grey
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - content.code.copy

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md

markdown_extensions:
  - admonition
  - attr_list
  - toc:
      permalink: true
