site_name: LittleBakery Docs

theme:
  name: readthedocs

nav:
  - Home: index.md
  - General: general.md
  - Tutorials: tutorials.md

markdown_extensions:
  - admonition
  - attr_list
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css
